darknet/*.o
darknet/*.dSYM
darknet/*.csv
darknet/*.out
darknet/*.png
darknet/*.jpg
darknet/*.pyc
darknet/old/
darknet/mnist/
darknet/data/
darknet/caffe/
darknet/grasp/
darknet/images/
darknet/opencv/
darknet/convnet/
darknet/decaf/
darknet/submission/
darknet/darknet
darknet/.fuse*
darknet/backup
darknet/bin
darknet/darknet53.conv.74

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
